* {
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  }

body {
  font-family: Arial;
  background: #333333;
  padding: 0;
  margin: 0;
  }

p {
  font-size: 2vw;
  text-align: center;
  color: #587B7F;
}

.blinking {
      animation:blinkingText 1.2s infinite;
  }
  @keyframes blinkingText{
      0%{     color: #F8F8FF;    }
      35%{    color: #587B7F; }
      56%{    color: transparent; }
      99%{    color: transparent;  }
      100%{   color: #587B7F;    }
  }

.message {
  font-family: 'Press Start 2p';
  margin: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

a {
  color:transparent;
  text-decoration: none;
 }

 .topnav {
  width: 100%;
  overflow-x: hidden;
  top: 0;
}

.topnav a {
  float: left;
  padding: 12px;
  margin: 1px;
  color:#DBAD6A;
  text-decoration: none;
  font-family: 'press start 2p';
  font-size: 1vw;
  letter-spacing: 1px;
  width: 19%;
  text-align: center;
  margin-bottom: 5px;
  
}

.topnav a:hover {
  background-color: #EC4E20;
  color: #463f3a;
  border-radius: 5px;
}

.botnav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
}

.botnav a {
  float: left;
  padding: 5px;
  color:#DBAD6A;
  text-decoration: none;
  font-family: 'press start 2p';
  font-size: 1vw;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  overflow-x: hidden;
}

.botnav a:hover {
  background-color: #EC4E20;
  color: #463f3a;
  border-radius: 5px;

}

@media screen and (max-width: 800px) {
  .topnav a, .botnav a {
    float: none;
    display: block;
    width: 100%;
    font-size: 10px;
    position: relative;
  }}